[Unit]
Description=Secondlife Node Server
After=network.target

[Service]
Type=simple
Environment=PORT=3001
WorkingDirectory=/var/www/secondlife/secondlife
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5
User=www-data

[Install]
WantedBy=multi-user.target